<span [ngSwitch]="alerta">
<p *ngSwitchCase="'success'">
  Success
</p>
<p *ngSwitchCase="'info'">
  Info
</p>
<p *ngSwitchCase="'warning'">
  Warning
</p>
<p *ngSwitchDefault>
  Danger
</p>
</span>

<button (click)="alerta = 'dark'" class="btn btn-sm btn-outline-dark">Cambiar</button>
<br>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" (click)="alerta = 'success'">
    <label class="text-success" for="inlineRadio1">Success</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" (click)="alerta = 'info'">
    <label class="text-info" for="inlineRadio2">Info</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" (click)="alerta = 'warning'">
    <label class="text-warning" for="inlineRadio3">Warning</label>
</div>
<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" (click)="alerta = 'danger'">
    <label class="text-danger" for="inlineRadio4">Danger</label>
</div>

<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'primary'" class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    <div *ngSwitchCase="'secondary'" class="alert alert-secondary" role="alert">
        A simple secondary alert—check it out!
    </div>
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div *ngSwitchCase="'danger'" class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>
    <div *ngSwitchCase="'light'" class="alert alert-light" role="alert">
        A simple light alert—check it out!
    </div>
    <div *ngSwitchCase="'dark'" class="alert alert-dark" role="alert">
        A simple dark alert—check it out!
    </div>
</div>