<div [ngClass]="alerta" class="alert" role="alert">
    A simple success alert—check it out!
</div>

<button (click)="alerta = 'alert-success'" class="btn btn-outline-success">Success</button>
<button (click)="alerta = 'alert-primary'" class="btn btn-outline-primary">Primary</button>
<button (click)="alerta = 'alert-danger'" class="btn btn-outline-danger">Danger</button>
<br><br>

<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</h3>
<button class="btn btn-sm btn-outline-warning" (click)="propiedades.danger = !propiedades.danger">Cambiar</button>

<br><br>

<h3>Proceso asincrono</h3>
<button class="btn btn-primary" (click)="ejecutar()" [disabled]="loading">
  <i [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading }"
  class="fa"></i>
  <span *ngIf="!loading"> Guardar cambios</span>
  <span *ngIf="loading"> Espere un momento</span>
</button>